@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BlenderProBook";
    src: url("./assets/Blender-Pro-Book.otf");
}

body {
    font-family: "BlenderProBook", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
}

Canvas {
    width: 1000px;
    height: 1000px;
}

.project-image-odd {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
    mask-image: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
}

.project-image-even {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
    mask-image: linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
}

#yellow-bg {
    background-image: radial-gradient(#000000 2px, transparent 2px);
    background-size: 70px 70px;
    background-color: #fcee0a;

    mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(255, 252, 10, 1) 0%,
            rgba(255, 252, 10, 1) 80%,
            rgba(255, 252, 10, 0) 100%
    );
    mask-size: 100% 100%;
}

.black-dotted-bg{
    background-image: radial-gradient(#00FFFF 1px, transparent 1px);
    background-size: 70px 70px;
    background-color: black;

    mask-image: linear-gradient(
            to top,
            transparent 0%,
            rgba(255, 252, 10, 1) 0%,
            rgba(255, 252, 10, 1) 80%,
            rgba(255, 252, 10, 0) 100%
    );
    mask-size: 100% 100%;
}

.power-animation {
    background: radial-gradient(circle, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}


